<div class="container col-6">
  <form [formGroup]="pageForm">
    <div class="d-flex justify-content-between">
      <label class="fw-bold col-9" for="limitID">Games per page:</label>
      <select
        class="form-select"
        name="limit"
        id="limitID"
        formControlName="limit"
        (change)="limitChange()"
      >
        <option
          *ngFor="let v of itemsPerPage"
          [value]="v"
          [selected]="v === limit"
        >
          {{ v }}
        </option>
      </select>
    </div>

    <app-display-list></app-display-list>

    <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-dark" (click)="previous()">
        Previous
      </button>
      <button type="button" class="btn btn-dark" (click)="next()">Next</button>
    </div>
  </form>
</div>
